a {
  color: #5165ff;
}
td {
  border: 2px solid #ccd2ff;
  position: relative;
}

tr:hover,
tr:focus-within {
  background: #f2f3ff;
  outline: none;
}

tr > td:first-child {
  color: #5165ff;
}

td > a:first-child {
  display: flex;
  padding: 18px;
  text-decoration: none;
  color: inherit;
  z-index: 0;

  &:focus {
    outline: 0;
  }
}
